@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
  --blue: #0188DF;
  --black: #354046;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all .2s linear;
}

*::selection {
  background: var(--black);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
}

.button {
  height: 4rem;
  width: 15rem;
  background: var(--blue);
  color: #fff;
  font-size: 1.8rem;
  text-transform: capitalize;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
  margin-top: 1rem;
}

.button::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: .2s linear;
}

.button:hover:before {
  top: 0%;
}

.button:hover {
  box-shadow: .1rem .5rem var(--blue),
    0 .3rem .5rem rgba(0, 0, 0, .3);
}

.heading {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  color: var(--black);
  padding-top: 2.5rem;
}

.heading span {
  color: var(--blue);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  z-index: 1000;
  background: #fff;
}

.header-active {
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--black);
}

header a:hover {
  color: var(--blue);
}

header .container .logo {
  font-size: 3rem;
}

header .container .logo span {
  color: var(--blue);
}

header .nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .nav ul li {
  margin: 0 1rem;
}

header .nav ul li a {
  font-size: 2rem;
}

header .fa-bars {
  font-size: 3.5rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

.home .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  padding-top: 8rem;
  position: relative;
}

.home .homevideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.home .container {
  text-align: center;
  color: #fff;
}


.home .content {
  position: relative;
  z-index: 1;
}

.home .content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  z-index: -1;
}


.home .content h1 {
  font-size: 5rem;
  color: var(--black);
}

.home .content h1 span {
  color: var(--blue);
}

.home .content h3 {
  font-size: 4rem;
  color: white;
}

.home .content p {
  font-size: 2.5rem;
  display: inline-block;
  color: white;
}


.wrapper {
  min-height: 100vh;
  padding-top: 2.5rem;
}

.lead {
  font-size: medium;
}

#contentabout {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Sombra del texto */
}

#contentabout h2 {
  font-style: bold;
  color: white;
}

#contentabout p {
  font-size: 1.8rem;
  font-style: bold;
  color: black;
}

#contentabout:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: -1;
}


.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card.card-has-bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card.card-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: cover;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card.card-has-bg:hover .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgb(35, 79, 109);
  background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 1) 100%);
}

.card.card-has-bg:hover .card-img-overlay h2 {
  opacity: 0;
}

.card.card-has-bg:hover .card-img-overlay p {
  opacity: 100;
}

.card.card-has-bg:hover .card-img-overlay .btnest {
  opacity: 100;
}

.card-footer {
  background: none;
  border-top: none;
}

.card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}

.card-meta {
  color: #26BD75;
}

.card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgb(35, 79, 109);
  background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%);
}

.card-img-overlay p {
  color: white;
  font-size: medium;
  opacity: 0;
}

.card-img-overlay .btnest {
  opacity: 0;
  color: white;
  font-size: 1.5rem;
  background-color: var(--blue);
  backdrop-filter: blur(10px);
}


@media (max-width: 767px) {
  #contentabout h2 {
    font-style: bold;
    color: black;
  }

  #contentabout p {
    font-size: 2rem;
    font-style: bold;
    color: black;
  }

  .card.card-has-bg .card-img-overlay h2 {
    opacity: 100;
  }

  .card.card-has-bg .card-img-overlay p {
    opacity: 100;
  }

  .card.card-has-bg .card-img-overlay .btnest {
    opacity: 100;
  }

  .card-img-overlay h2 a {
    color: white;
    font-size: 2.5rem;
  }

  .card-img-overlay p {
    padding-top: 10%;
    font-size: 2rem;
  }

  .card-img-overlay .btnest {
    font-size: 2rem;
  }
}

.package {
  list-style-type: none;
}

.pricing {
  padding-left: 1.5rem;
  font-size: 1.8rem;
}

.parent {
  height: 300px;
  display: flex;
  border: 2px solid yellow;
}

.child {
  background-color: red;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.icon-color {
  color: #1f38fa;
}

.card-title {
  font-size: 2.5rem;
}


table {
  border-collapse: collapse;
}

#activerow {
  border: 0.5px solid #8CC63F;
}

#activerow>td {
  color: #8CC63F;
  font-weight: 600;
}

#activerow>td>span {
  color: #8CC63F;
}

.opening-hours {
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
  padding: 1em;
  max-width: 450px;
  min-width: 320px;
}


.fvl-d>td {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: #A299AC;
  text-transform: uppercase;
  padding: 1em;
}

.fvl-d>td>span {
  font-size: 2.5;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #A299AC;
  text-transform: uppercase;
}

@media screen and (max-width: 382px) {

  .fvl-d>td {
    font-size: 14px;
    padding: 15px 5px;
  }

  #activerow {
    border: none;
    background-color: #8CC63F;
  }

  #activerow>td {
    color: white;
    font-weight: 600;
  }

  #activerow>td>span {
    color: white;
  }


}

#texth2 {
  font-size: 1.8rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.accordion button[aria-expanded='true'] {
  border-bottom: 1px solid var(--blue);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--black);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--black);
  border: 1px solid var(--blue);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--black);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 2em 0;
}

@media (max-width: 767px) {
  #texth2 {
    font-size: 1.8rem;
  }

  .accordion .accordion-item {
    border-bottom: 1px solid var(--lightgray);
  }

  .accordion button[aria-expanded='true'] {
    border-bottom: 1px solid var(--blue);
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--black);
  }

  .accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
  }

  .accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }

  .accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  .accordion button[aria-expanded='true'] {
    color: var(--black);
  }

  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }

  .accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 1000px;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 2em 0;
  }
}



.footer {
  font-size: 2rem;
}

.contact {
  min-height: 100vh;
  padding-top: 2.5rem;
}

.formst {
  max-width: 500px;
  /* Ajusta el ancho máximo del formulario */
  margin: 0 auto;
  /* Centra el formulario horizontalmente */
}

.form-control {
  width: 100%;
  /* Ajusta el ancho del form-control al 100% del contenedor */
  padding: 50px;
  /* Ajusta el relleno (padding) para dar más espacio alrededor del input */
  font-size: 16px;
  /* Ajusta el tamaño de fuente del input */
}

.btn-block {
  padding: 12px 0;
  /* Aumenta el padding vertical del botón */
  font-size: 18px;
  /* Aumenta el tamaño de fuente del botón */
}

.form-group {
  width: 100%;
  /* Establece el ancho del form-group al 100% del contenedor */
}

.input-group-prepend {
  width: 15%;
  /* Ajusta el ancho del input-group-prepend al 15% del contenedor */
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

form {
  width: 500px;
  padding: 40px;
  background-color: #6ccdf3;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}


input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  background-color: var(--blue);
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--blue);
  color: white;
}








header .fa-times {
  transform: rotate(180deg);
}

/* media queries  */

@media (max-width:768px) {

  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block;
  }

  header .nav {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
    border-radius: .5rem;
    border: .3rem solid var(--blue) !important;
    background: #fff;
    width: 95%;
    opacity: 0;
  }

  header .nav ul {
    width: 100%;
    flex-flow: column;
    padding: 2rem 0;
  }

  header .nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  header .nav ul li a {
    font-size: 3rem;
    display: block;
  }

  header .nav-toggle {
    top: 50%;
    opacity: 1;
  }

  .contact form .inputBox input,
  select {
    width: 100%;
  }

  .contact form input[type="submit"] {
    width: 100%;
  }

  .home .content h1 {
    font-size: 4rem;
    color: var(--black);
  }

  .home .content h3 {
    font-size: 3rem;
    color: var(--black);
  }

  .home .content p {

    color: var(--black);
  }

  .home .homevideo {
    display: none;
  }

  #about .container #contentabout {
    color: var(--black);
  }

  .footer .credit {
    font-size: 2rem;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

}

@media (max-width:767px) {
  .home .homevideo {
    display: none;
  }
}


.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }

  .containerinfo img {
    opacity: 0;
  }


  .container404 {
    width: auto;

  }

}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

.containerinfo {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* Ajusta la altura según sea necesario */
}

.containerinfo p {
  padding-top: 2%;
  padding-right: 22%;
  padding-left: 22%;
  font-size: 2rem;
  text-align: center;
}

.containerinfo img {
  position: fixed;
  width: 30%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container404 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.privacy-policy {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}